.THIS .modal-over-calendar {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.THIS .fc-center{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}

.THIS .fc-event{
    border-radius: 0;
}